
body{
    background-color: #1e295b;
    color: white;
    z-index: 1;
    
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
header{
    
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
.links
{
    
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;   /* removes underline */
    color: inherit;          /* uses parent color instead of blue */
}
#home{
    text-decoration: underline;
    /* color: rgb(175, 186, 228); */
}
.l{
    margin-right: 32px;
    margin-top: 12px;
    text-decoration: none;
}
.title{
    font-size: 34px;
    margin-right: 120px;
    font-family: 'Times New Roman', Times, serif;
}
.img1{
    width: 235px;
    height: 34px;
    margin-right: 50px;
    margin-top: 9px;
}



hr{
    
    margin-left: 29vw;
    margin-right: 29vw;
    color: grey;
    
}
.subbody
{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 60px;
    margin-left: 60px;
}

.alcov{
    width: 316px;
    height: 316px;
    margin-left: 300px;
    margin-bottom: 40px;
}
.desc{
    align-content: center;
    margin-right: 300px ;
    margin-left: 50px;
    margin-top: -40px;
    font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tracklist{
    width: 700px;
    margin: 80px auto;
    color: white;
    margin-top: 0px;
    font-size: smaller;
    margin-bottom: 0px;
}

.tracklist h2{
    text-align: center;
    margin-bottom: 30px;
}

.tracks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
}
.tracks ul{
    text-align: left;
    list-style: none;
}

.tracklist li{
    padding: 4px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3); 
}
.tracklist li:hover{
    opacity: 0.7;
    cursor: pointer;
}

.listennow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    text-decoration: underline;
}
.musiclink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    margin-left: 12px;
    margin-right: 12px;
    
}