
body{
    background-color: #1e295b;
    color: white;
    z-index: 1;
    
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
header{
    
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
.links
{
    
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;   /* removes underline */
    color: inherit;          /* uses parent color instead of blue */
}
#home{
    text-decoration: underline;
    /* color: rgb(175, 186, 228); */
}
.l{
    margin-right: 32px;
    margin-top: 12px;
    text-decoration: none;
}
.title{
    font-size: 34px;
    margin-right: 120px;
    font-family: 'Times New Roman', Times, serif;
}
.img1{
    width: 235px;
    height: 34px;
    margin-right: 50px;
    margin-top: 9px;
}



hr{
    
    margin-left: 29vw;
    margin-right: 29vw;
    color: grey;
    
}
.subbody
{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 60px;
    margin-left: 60px;
}
.tracklist
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
}
.alcov{
    width: 316px;
    height: 316px;
}
.desc{
    align-content: center;
    margin: 120px 120px 120px 120px ;
    margin-top: 0px;
    font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}